.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    overflow: auto;
}

.modal-content {
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #8B7969;
    background: #fff;
    width: 35%;
}

.modal-header {
    text-align: right;
}

.modal-header__button {
    width: 35px;
    height: 35px;
    border: 1px solid #8B7969;
    border-radius: 50%;
    background: #fff;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
}

.modal-table {
    margin: 30px auto;
    width: 70%;
    text-align: left;
}

.modal-table__row {
    border: none;
}

.modal-table__header {
    padding: 10px;
    width: 40%;
    vertical-align: top;
}


.modal-table__item {
    width: 60px;
}

.modal-table__item-p {
    padding: 10px;
    vertical-align: top;
}

.modal-footer {
    text-align: center;
    margin: 30px auto;
}

.modal-footer__button {
    padding: 10px 20px;
    border: none;
    background: #BA370D;
    color: #fff;
    cursor: pointer;
}
